<h1>Welcome to CS Factory</h1>

<h3>CS Factory Running Step (Full Process almost 5min)</h3>
<div id="step">
</div>

<h3>CS Factory Stock</h3>
<div id="foo">
  Foo: 0
</div>
<div id="bar">
  Bar: 0
</div>
<div id="foobar">
  FooBar: 0
</div>
<div id="money">
  Money: $0
</div>
<div id="robots">
  Robots: 0
</div>



<form id="button" action="/" method="post">
   <p>
     <input type="submit" value="RUN"/>
   </p>
</form>


<script>
  setInterval(function(){
    fetch("/api", {
      method: 'get',
      dataType: 'json',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      }
    })
    .then(response => response.json())
    .then(response => {
      document.getElementById("foo").innerHTML = "Foo: " + response["foo"];
      document.getElementById("bar").innerHTML = "Bar: " + response["bar"];
      document.getElementById("foobar").innerHTML = "FooBar: " + response["foobar"];
      document.getElementById("money").innerHTML = "Money: $" + response["money"];
      document.getElementById("robots").innerHTML = "Robots: " + response["robots"];
      document.getElementById("step").innerHTML = response["step_log"];

      if(response["robots"] > 0){
        document.getElementById("button").style.display = "none"
      }
      if(response["step_log"].includes("6")){
        document.getElementById("button").style.display = "block"
      }
    })}, 500);
</script>
